<div class="container-fluid">
  <div class="container mt-5">
    <div class="row bg-light py-3">
      <div class="col-8 text-left">
        <h2>My posts</h2>
      </div>
      <div class="col-4 text-right">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          (click)="newTopic(true)"
        >
          Post a topic
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="createTopic">
  <div class="container mt-5">
    <div class="row bg-light py-3" *ngIf="isError">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="alert alert-danger">
          Something went wrong. please try again.
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row bg-light py-3">
      <div class="col-3"></div>
      <div class="col-6">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="form-group">
            <label for="topicInput">Topic</label>
            <input
              type="text"
              class="form-control"
              id="topicInput"
              aria-describedby="topicHelp"
              placeholder="Marvel vs DC"
              formControlName="topic"
            />
            <div
              id="topicHelp"
              class="alert alert-danger mt-1"
              *ngIf="
                form.get('topic').touched &&
                form.get('topic').errors &&
                (form.get('topic').errors.required ||
                  form.get('topic').errors.email)
              "
            >
              Please provide a valid topic
            </div>
          </div>
          <div class="form-group">
            <label for="topicDetailsInput">Details</label>
            <textarea
              class="form-control"
              id="topicDetailsInput"
              aria-describedby="topicDetailsHelp"
              placeholder="Share your thought.."
              formControlName="details"
            ></textarea>
            <div
              id="topicDetailsHelp"
              class="alert alert-danger mt-1"
              *ngIf="
                form.get('details').touched &&
                form.get('details').errors &&
                form.get('details').errors.required
              "
            >
              Please provide a details
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button
            type="button"
            class="btn btn-primary ml-2"
            (click)="newTopic(false)"
          >
            Cancel
          </button>
        </form>
      </div>
      <div class="col3"></div>
    </div>
  </div>
</div>
