<div class="container-fluid">
  <div class="container mt-5">
    <div class="row bg-light py-3">
      <div class="col-12" *ngIf="blog">
        <div class="blog-row">
          <div class="title">
            <h2 class="text-primary">{{ blog.topic }}</h2>
            <h5>
              By
              <a href="#" class="created-by text-primary">{{
                blog.createdBy
              }}</a>
            </h5>
          </div>
          <p class="body-text" [innerHTML]="blog.details"></p>
        </div>

        <h4 href="#" class="text-primary">Comments</h4>
        <hr />

        <div class="comment-wrapper">
          <app-comment-form></app-comment-form>
          <app-comments [comments]="blog.comments"></app-comments>
        </div>
      </div>
    </div>
  </div>
</div>
